.navbar
    margin-top: 20px
    align-items: center
    &-search
        position: relative
        margin-left: 43px
        &__ico
            position: absolute
            top: 15px
            left: 15px
    &__search
        width: 410px
        height: 40px
        padding-left: 44px
        padding-right: 20px
        border: none
        +reg    
    &-info
        display: flex
        width: 336px
        justify-content: space-between
        +med
        &__arrow
            margin-left: 8px
    &__logo
        +bold
        font-size: 24px
        margin-right: 41px
    &-inline
        display: inline-block 
    &-profile
        margin-left: 100%
        display: flex
        width: 152px
        height: 45px
        align-items: center
        justify-content: space-between
        &__cart
            width: 20px
            height: 20px
        &__iwant
            width: 20px
            height: 20px
        &__profile
            height: 40px    
            width: 40px 
            background-color: red
            border-radius: 20px